<!doctype HTML>

<html>
    <head>
        <title> adventuring </title>
        <link href='static/style.css' rel='stylesheet' type='text/css'>
        <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
        <script type='text/javascript' src='static/test.js'></script>
    </head>
    <body>
        <textarea id='console'></textarea>
        <div id='input' contenteditable='true' onkeypress='GetChar(event);'></div>
    </body>
</html>